Final Project, Isabel and Wyatt

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.2.0/spark-3.2.0-bin-hadoop3.2.tgz
!tar xf spark-3.2.0-bin-hadoop3.2.tgz 
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "spark-3.2.0-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark import SparkConf, SparkContext
from pyspark import SparkFiles
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext
sc

In [ ]:
#spark= SparkSession.builder.appName('aa').getOrCreate()
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark import SparkConf, SparkContext
from pyspark.sql.functions import concat, unix_timestamp
from pyspark.sql import functions as F
import numpy as np
from pyspark.sql.functions import *
from pyspark.sql.functions import split
from functools import reduce
from pyspark.sql import DataFrame
from pyspark.sql.functions import lit
from pyspark.sql.types import DateType

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
peopledata = spark.read.csv('drive/My Drive/Cloud Computing/People.csv',inferSchema = True, header=True)
battingdata = spark.read.csv('drive/My Drive/Cloud Computing/Batting.csv',inferSchema = True, header=True)
fieldingdata = spark.read.csv('drive/My Drive/Cloud Computing/Fielding.csv',inferSchema = True, header=True)
fieldingOFdata = spark.read.csv('drive/My Drive/Cloud Computing/FieldingOF.csv',inferSchema = True, header=True)
pitchingdata = spark.read.csv('drive/My Drive/Cloud Computing/Pitching.csv',inferSchema = True, header=True)

In [ ]:
batting = peopledata.join(battingdata, on=['playerID'], how='inner')
fielding = peopledata.join(fieldingdata, on=['playerID'], how='inner')
fieldingOF = peopledata.join(fieldingOFdata, on=['playerID'], how='inner')
pitching =peopledata.join(pitchingdata, on=['playerID'], how='inner')

In [ ]:
batting.show(15)

+---------+---------+----------+--------+------------+----------+-------------+---------+----------+--------+------------+----------+-------------+---------+-----------+------------------+------+------+----+------+----------+----------+--------+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+----+----+----+----+----+
| playerID|birthYear|birthMonth|birthDay|birthCountry|birthState|    birthCity|deathYear|deathMonth|deathDay|deathCountry|deathState|    deathCity|nameFirst|   nameLast|         nameGiven|weight|height|bats|throws|     debut| finalGame| retroID|  bbrefID|yearID|stint|teamID|lgID|  G| AB|  R|  H| 2B| 3B| HR|RBI| SB| CS| BB| SO| IBB| HBP|  SH|  SF|GIDP|
+---------+---------+----------+--------+------------+----------+-------------+---------+----------+--------+------------+----------+-------------+---------+-----------+------------------+------+------+----+------+----------+----------+--------+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+----+----+----+----+----+
|abercda01|     1850|         1|       2|         USA|        OK|  Fort Towson|     1939|        11|      11|         USA|        PA| Philadelphia|    Frank|Abercrombie| Francis Patterson|  null|  null|null|  null|1871-10-21|1871-10-21|aberd101|abercda01|  1871|    1|   TRO|  NA|  1|  4|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|null|null|null|null|null|
| addybo01|     1842|         2|    null|         CAN|        ON|    Port Hope|     1910|         4|       9|         USA|        ID|    Pocatello|      Bob|       Addy|     Robert Edward|   160|    68|   L|     L|1871-05-06|1877-10-06|addyb101| addybo01|  1871|    1|   RC1|  NA| 25|118| 30| 32|  6|  0|  0| 13|  8|  1|  4|  0|null|null|null|null|null|
|allisar01|     1849|         1|      29|         USA|        PA| Philadelphia|     1916|         2|      25|         USA|        DC|   Washington|      Art|    Allison|   Arthur Algernon|   150|    68|null|  null|1871-05-04|1876-10-05|allia101|allisar01|  1871|    1|   CL1|  NA| 29|137| 28| 40|  4|  5|  0| 19|  3|  1|  2|  5|null|null|null|null|null|
|allisdo01|     1846|         7|      12|         USA|        PA| Philadelphia|     1916|        12|      19|         USA|        DC|   Washington|     Doug|    Allison|        Douglas L.|   160|    70|   R|     R|1871-05-05|1883-07-13|allid101|allisdo01|  1871|    1|   WS3|  NA| 27|133| 28| 44| 10|  2|  2| 27|  1|  1|  0|  2|null|null|null|null|null|
|ansonca01|     1852|         4|      17|         USA|        IA| Marshalltown|     1922|         4|      14|         USA|        IL|      Chicago|      Cap|      Anson|Adrian Constantine|   227|    72|   R|     R|1871-05-06|1897-10-03|ansoc101|ansonca01|  1871|    1|   RC1|  NA| 25|120| 29| 39| 11|  3|  0| 16|  6|  2|  2|  1|null|null|null|null|null|
|armstbo01|     1850|         7|       4|         USA|        MD|    Baltimore|     1917|        12|       3|         USA|        TX|   Fort Worth|   Robert|  Armstrong| Robert Livingston|   160|    74|null|  null|1871-06-26|1871-08-29|armsr101|armstsa01|  1871|    1|   FW1|  NA| 12| 49|  9| 11|  2|  1|  0|  5|  0|  1|  0|  1|null|null|null|null|null|
|barkeal01|     1839|         1|      18|         USA|        IN|   Lost Creek|     1912|         9|      15|         USA|        IL|     Rockford|       Al|     Barker|         Alfred L.|   162|    72|null|  null|1871-06-01|1871-06-01|barka101|barkeal01|  1871|    1|   RC1|  NA|  1|  4|  0|  1|  0|  0|  0|  2|  0|  0|  1|  0|null|null|null|null|null|
|barnero01|     1850|         5|       8|         USA|        NY| Mount Morris|     1915|         2|       5|         USA|        IL|      Chicago|     Ross|     Barnes|    Charles Roscoe|   145|    68|   R|     R|1871-05-05|1881-09-21|barnr102|barnero01|  1871|    1|   BS1|  NA| 31|157| 66| 63| 10|  9|  0| 34| 11|  6| 13|  1|null|null|null|null|null|
|barrebi01|     null|      null|    null|         USA|        MD|    Baltimore|     null|      null|    null|        null|      null|         null|     Bill|    Barrett|           William|  null|  null|null|  null|1871-07-08|1873-10-18|barrb102|barrebi01|  1871|    1|   FW1|  NA|  1|  5|  1|  1|  1|  0|  0|  1|  0|  0|  0|  0|null|null|null|null|null|
|barrofr01|     1844|        10|      22|         USA|        OH|       Hudson|     1922|         2|       6|         USA|        MA|    Fitchburg|    Frank|    Barrows|      Franklin Lee|  null|  null|null|  null|1871-05-20|1871-10-07|barrf102|barrofr01|  1871|    1|   BS1|  NA| 18| 86| 13| 13|  2|  1|  0| 11|  1|  0|  0|  0|null|null|null|null|null|
| bassjo01|     1848|      null|    null|         USA|        MD|   Charleston|     1888|         9|      25|         USA|        CO|       Denver|     John|       Bass|        John Elias|   150|    66|null|  null|1871-05-04|1877-08-20|bassj101| bassjo01|  1871|    1|   CL1|  NA| 22| 89| 18| 27|  1| 10|  3| 18|  0|  1|  3|  4|null|null|null|null|null|
|battijo01|     1853|        11|      11|         USA|        PA|West Bradford|     1937|        12|      10|         USA|        OH|        Akron|      Joe|     Battin|         Joseph V.|   169|    70|   R|     R|1871-08-11|1890-05-28|battj102|battijo01|  1871|    1|   CL1|  NA|  1|  3|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|null|null|null|null|null|
|bealsto01|     1850|         8|    null|         USA|        NY|     New York|     1915|        10|       2|         USA|        CA|San Francisco|    Tommy|      Beals|       Thomas Lamb|   144|    65|   R|  null|1871-07-27|1880-09-29|bealt101|bealsto01|  1871|    1|   WS3|  NA| 10| 36|  6|  7|  0|  0|  0|  1|  2|  0|  2|  0|null|null|null|null|null|
|beaveed01|     1848|      null|    null|         USA|        NY|         Troy|     null|      null|    null|        null|      null|         null|   Edward|    Beavens|         Edward P.|   138|    68|null|  null|1871-05-09|1872-08-22|beave101|beavee.01|  1871|    1|   TRO|  NA|  3| 15|  7|  6|  0|  0|  0|  5|  2|  0|  0|  0|null|null|null|null|null|
|bechtge01|     1848|         9|       2|         USA|        PA| Philadelphia|     1921|         4|       3|         USA|        PA| Philadelphia|   George|    Bechtel|         George W.|   165|    71|null|  null|1871-05-20|1876-08-19|bechg101|bechtge01|  1871|    1|   PH1|  NA| 20| 94| 24| 33|  9|  1|  1| 21|  4|  0|  2|  2|null|null|null|null|null|
+---------+---------+----------+--------+------------+----------+-------------+---------+----------+--------+------------+----------+-------------+---------+-----------+------------------+------+------+----+------+----------+----------+--------+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+----+----+----+----+----+
only showing top 15 rows

In [ ]:
list_a = batting.select("birthYear").rdd.map(lambda x: x.asDict()["birthYear"]).collect()

list_b = batting.select("yearID").rdd.map(lambda x: x.asDict()["yearID"]).collect()

result = list(set(list_b).difference(list_a))

In [ ]:
#batting['new_col'] = result
#batting = batting.assign(Age = result)
#batting['new_col'] = np.array(result)
batting.withColumn("age", batting.yearID - batting.birthYear).show()

+---------+---------+----------+--------+------------+----------+-------------+---------+----------+--------+------------+----------+-------------+---------+-----------+------------------+------+------+----+------+----------+----------+--------+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+----+----+----+----+----+----+
| playerID|birthYear|birthMonth|birthDay|birthCountry|birthState|    birthCity|deathYear|deathMonth|deathDay|deathCountry|deathState|    deathCity|nameFirst|   nameLast|         nameGiven|weight|height|bats|throws|     debut| finalGame| retroID|  bbrefID|yearID|stint|teamID|lgID|  G| AB|  R|  H| 2B| 3B| HR|RBI| SB| CS| BB| SO| IBB| HBP|  SH|  SF|GIDP| age|
+---------+---------+----------+--------+------------+----------+-------------+---------+----------+--------+------------+----------+-------------+---------+-----------+------------------+------+------+----+------+----------+----------+--------+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+----+----+----+----+----+----+
|abercda01|     1850|         1|       2|         USA|        OK|  Fort Towson|     1939|        11|      11|         USA|        PA| Philadelphia|    Frank|Abercrombie| Francis Patterson|  null|  null|null|  null|1871-10-21|1871-10-21|aberd101|abercda01|  1871|    1|   TRO|  NA|  1|  4|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|null|null|null|null|null|  21|
| addybo01|     1842|         2|    null|         CAN|        ON|    Port Hope|     1910|         4|       9|         USA|        ID|    Pocatello|      Bob|       Addy|     Robert Edward|   160|    68|   L|     L|1871-05-06|1877-10-06|addyb101| addybo01|  1871|    1|   RC1|  NA| 25|118| 30| 32|  6|  0|  0| 13|  8|  1|  4|  0|null|null|null|null|null|  29|
|allisar01|     1849|         1|      29|         USA|        PA| Philadelphia|     1916|         2|      25|         USA|        DC|   Washington|      Art|    Allison|   Arthur Algernon|   150|    68|null|  null|1871-05-04|1876-10-05|allia101|allisar01|  1871|    1|   CL1|  NA| 29|137| 28| 40|  4|  5|  0| 19|  3|  1|  2|  5|null|null|null|null|null|  22|
|allisdo01|     1846|         7|      12|         USA|        PA| Philadelphia|     1916|        12|      19|         USA|        DC|   Washington|     Doug|    Allison|        Douglas L.|   160|    70|   R|     R|1871-05-05|1883-07-13|allid101|allisdo01|  1871|    1|   WS3|  NA| 27|133| 28| 44| 10|  2|  2| 27|  1|  1|  0|  2|null|null|null|null|null|  25|
|ansonca01|     1852|         4|      17|         USA|        IA| Marshalltown|     1922|         4|      14|         USA|        IL|      Chicago|      Cap|      Anson|Adrian Constantine|   227|    72|   R|     R|1871-05-06|1897-10-03|ansoc101|ansonca01|  1871|    1|   RC1|  NA| 25|120| 29| 39| 11|  3|  0| 16|  6|  2|  2|  1|null|null|null|null|null|  19|
|armstbo01|     1850|         7|       4|         USA|        MD|    Baltimore|     1917|        12|       3|         USA|        TX|   Fort Worth|   Robert|  Armstrong| Robert Livingston|   160|    74|null|  null|1871-06-26|1871-08-29|armsr101|armstsa01|  1871|    1|   FW1|  NA| 12| 49|  9| 11|  2|  1|  0|  5|  0|  1|  0|  1|null|null|null|null|null|  21|
|barkeal01|     1839|         1|      18|         USA|        IN|   Lost Creek|     1912|         9|      15|         USA|        IL|     Rockford|       Al|     Barker|         Alfred L.|   162|    72|null|  null|1871-06-01|1871-06-01|barka101|barkeal01|  1871|    1|   RC1|  NA|  1|  4|  0|  1|  0|  0|  0|  2|  0|  0|  1|  0|null|null|null|null|null|  32|
|barnero01|     1850|         5|       8|         USA|        NY| Mount Morris|     1915|         2|       5|         USA|        IL|      Chicago|     Ross|     Barnes|    Charles Roscoe|   145|    68|   R|     R|1871-05-05|1881-09-21|barnr102|barnero01|  1871|    1|   BS1|  NA| 31|157| 66| 63| 10|  9|  0| 34| 11|  6| 13|  1|null|null|null|null|null|  21|
|barrebi01|     null|      null|    null|         USA|        MD|    Baltimore|     null|      null|    null|        null|      null|         null|     Bill|    Barrett|           William|  null|  null|null|  null|1871-07-08|1873-10-18|barrb102|barrebi01|  1871|    1|   FW1|  NA|  1|  5|  1|  1|  1|  0|  0|  1|  0|  0|  0|  0|null|null|null|null|null|null|
|barrofr01|     1844|        10|      22|         USA|        OH|       Hudson|     1922|         2|       6|         USA|        MA|    Fitchburg|    Frank|    Barrows|      Franklin Lee|  null|  null|null|  null|1871-05-20|1871-10-07|barrf102|barrofr01|  1871|    1|   BS1|  NA| 18| 86| 13| 13|  2|  1|  0| 11|  1|  0|  0|  0|null|null|null|null|null|  27|
| bassjo01|     1848|      null|    null|         USA|        MD|   Charleston|     1888|         9|      25|         USA|        CO|       Denver|     John|       Bass|        John Elias|   150|    66|null|  null|1871-05-04|1877-08-20|bassj101| bassjo01|  1871|    1|   CL1|  NA| 22| 89| 18| 27|  1| 10|  3| 18|  0|  1|  3|  4|null|null|null|null|null|  23|
|battijo01|     1853|        11|      11|         USA|        PA|West Bradford|     1937|        12|      10|         USA|        OH|        Akron|      Joe|     Battin|         Joseph V.|   169|    70|   R|     R|1871-08-11|1890-05-28|battj102|battijo01|  1871|    1|   CL1|  NA|  1|  3|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|null|null|null|null|null|  18|
|bealsto01|     1850|         8|    null|         USA|        NY|     New York|     1915|        10|       2|         USA|        CA|San Francisco|    Tommy|      Beals|       Thomas Lamb|   144|    65|   R|  null|1871-07-27|1880-09-29|bealt101|bealsto01|  1871|    1|   WS3|  NA| 10| 36|  6|  7|  0|  0|  0|  1|  2|  0|  2|  0|null|null|null|null|null|  21|
|beaveed01|     1848|      null|    null|         USA|        NY|         Troy|     null|      null|    null|        null|      null|         null|   Edward|    Beavens|         Edward P.|   138|    68|null|  null|1871-05-09|1872-08-22|beave101|beavee.01|  1871|    1|   TRO|  NA|  3| 15|  7|  6|  0|  0|  0|  5|  2|  0|  0|  0|null|null|null|null|null|  23|
|bechtge01|     1848|         9|       2|         USA|        PA| Philadelphia|     1921|         4|       3|         USA|        PA| Philadelphia|   George|    Bechtel|         George W.|   165|    71|null|  null|1871-05-20|1876-08-19|bechg101|bechtge01|  1871|    1|   PH1|  NA| 20| 94| 24| 33|  9|  1|  1| 21|  4|  0|  2|  2|null|null|null|null|null|  23|
|bellast01|     1849|        10|       1|        Cuba| La Habana|    La Habana|     1932|         8|       8|        Cuba| La Habana|    La Habana|    Steve|     Bellan|        Stephen B.|   154|    68|null|  null|1871-05-09|1873-06-09|bells101|bellast01|  1871|    1|   TRO|  NA| 29|128| 26| 32|  3|  3|  0| 23|  4|  4|  9|  2|null|null|null|null|null|  22|
|berkena01|     1832|         9|      17|         USA|        PA| Philadelphia|     1900|         2|      23|         USA|        PA| Philadelphia|     Nate|Berkenstock|            Nathan|  null|  null|null|  null|1871-10-30|1871-10-30|berkn101|berkena01|  1871|    1|   PH1|  NA|  1|  4|  0|  0|  0|  0|  0|  0|  0|  0|  0|  3|null|null|null|null|null|  39|
|berryto01|     1842|        12|      31|         USA|        PA|      Chester|     1915|         6|       6|         USA|        PA|      Chester|      Tom|      Berry|      Thomas Haney|   140|    66|null|  null|1871-09-02|1871-09-02|berrt101|berryto01|  1871|    1|   PH1|  NA|  1|  4|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|null|null|null|null|null|  29|
|berthha01|     1844|         1|       1|         USA|        NY|      Mumford|     1928|         4|      24|         USA|        MA|      Chelsea|    Harry|  Berthrong|    Henry Washburn|   140|    66|null|  null|1871-05-05|1871-07-04|berth101|berthha01|  1871|    1|   WS3|  NA| 17| 73| 17| 17|  1|  1|  0|  8|  3|  1|  4|  2|null|null|null|null|null|  27|
|biermch01|     1845|      null|    null|         USA|        NJ|      Hoboken|     1879|         8|       4|         USA|        NJ|      Hoboken|  Charles|    Bierman|        Charles S.|   180|    72|null|  null|1871-06-21|1871-06-21|bierc101|biermch01|  1871|    1|   FW1|  NA|  1|  2|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|null|null|null|null|null|  26|
+---------+---------+----------+--------+------------+----------+-------------+---------+----------+--------+------------+----------+-------------+---------+-----------+------------------+------+------+----+------+----------+----------+--------+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+----+----+----+----+----+----+
only showing top 20 rows

In [47]:
vAssembler1 = VectorAssembler(inputCols = ["AB", "RBI", "R"], outputCol = "M1")

In [48]:
output= vAssembler1.transform(batting)

In [49]:
output.tail(4)

[Row(playerID='zobribe01', birthYear=1981, birthMonth=5, birthDay=26, birthCountry='USA', birthState='IL', birthCity='Eureka', deathYear=None, deathMonth=None, deathDay=None, deathCountry=None, deathState=None, deathCity=None, nameFirst='Ben', nameLast='Zobrist', nameGiven='Benjamin Thomas', weight=210, height=75, bats='B', throws='R', debut='2006-08-01', finalGame='2019-09-29', retroID='zobrb001', bbrefID='zobribe01', yearID=2015, stint=1, teamID='OAK', lgID='AL', G=67, AB=235, R=39, H=63, 2B=20, 3B=2, HR=6, RBI=33, SB=1, CS=1, BB=33, SO=26, IBB=2, HBP=0, SH=0, SF=3, GIDP=5, M1=DenseVector([235.0, 33.0, 39.0])),
 Row(playerID='zobribe01', birthYear=1981, birthMonth=5, birthDay=26, birthCountry='USA', birthState='IL', birthCity='Eureka', deathYear=None, deathMonth=None, deathDay=None, deathCountry=None, deathState=None, deathCity=None, nameFirst='Ben', nameLast='Zobrist', nameGiven='Benjamin Thomas', weight=210, height=75, bats='B', throws='R', debut='2006-08-01', finalGame='2019-09-29', retroID='zobrb001', bbrefID='zobribe01', yearID=2015, stint=2, teamID='KCA', lgID='AL', G=59, AB=232, R=37, H=66, 2B=16, 3B=1, HR=7, RBI=23, SB=2, CS=3, BB=29, SO=30, IBB=1, HBP=1, SH=0, SF=2, GIDP=3, M1=DenseVector([232.0, 23.0, 37.0])),
 Row(playerID='zuninmi01', birthYear=1991, birthMonth=3, birthDay=25, birthCountry='USA', birthState='FL', birthCity='Cape Coral', deathYear=None, deathMonth=None, deathDay=None, deathCountry=None, deathState=None, deathCity=None, nameFirst='Mike', nameLast='Zunino', nameGiven='Michael Accorsi', weight=235, height=74, bats='R', throws='R', debut='2013-06-12', finalGame='2021-10-03', retroID='zunim001', bbrefID='zuninmi01', yearID=2015, stint=1, teamID='SEA', lgID='AL', G=112, AB=350, R=28, H=61, 2B=11, 3B=0, HR=11, RBI=28, SB=0, CS=1, BB=21, SO=132, IBB=0, HBP=5, SH=8, SF=2, GIDP=6, M1=DenseVector([350.0, 28.0, 28.0])),
 Row(playerID='zychto01', birthYear=1990, birthMonth=8, birthDay=7, birthCountry='USA', birthState='IL', birthCity='Monee', deathYear=None, deathMonth=None, deathDay=None, deathCountry=None, deathState=None, deathCity=None, nameFirst='Tony', nameLast='Zych', nameGiven='Anthony Aaron', weight=190, height=75, bats='R', throws='R', debut='2015-09-04', finalGame='2017-08-19', retroID='zycht001', bbrefID='zychto01', yearID=2015, stint=1, teamID='SEA', lgID='AL', G=13, AB=0, R=0, H=0, 2B=0, 3B=0, HR=0, RBI=0, SB=0, CS=0, BB=0, SO=0, IBB=0, HBP=0, SH=0, SF=0, GIDP=0, M1=SparseVector(3, {}))]

In [33]:
data_split = output.randomSplit([0.7, 0.3])
training_data = data_split[0]
test_data = data_split[1]

In [38]:
data_new = output.sample
data_new

In [39]:
print(data_new)

<bound method DataFrame.sample of DataFrame[playerID: string, birthYear: int, birthMonth: int, birthDay: int, birthCountry: string, birthState: string, birthCity: string, deathYear: int, deathMonth: int, deathDay: int, deathCountry: string, deathState: string, deathCity: string, nameFirst: string, nameLast: string, nameGiven: string, weight: int, height: int, bats: string, throws: string, debut: string, finalGame: string, retroID: string, bbrefID: string, yearID: int, stint: int, teamID: string, lgID: string, G: int, AB: int, R: int, H: int, 2B: int, 3B: int, HR: int, RBI: int, SB: int, CS: int, BB: int, SO: int, IBB: int, HBP: int, SH: int, SF: int, GIDP: int, _M1: vector]>

In [51]:
M1 = LinearRegression(featuresCol = "M1", labelCol="H").fit(batting)

# print("Coefficients: " + str(M1.coefficients))
# print("Intercept: " + str(M1.intercept))

IllegalArgumentException: ignored